@import "../../theme/index.scss";
.input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    color: var(--black);
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    &:has(.input__field:focus) {
      border-color: var(--primary);
    }
  }
  &__icon {
    width: 20px;
  }
  &__field {
    display: block;
    border: none;

    &::placeholder {
      opacity: 0.7;
      color: var(--mid-grey);
      font-style: italic;
    }
    &:focus {
      outline: none;
    }
  }
}
