.input {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 8px;
  }

  &__input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid var(--primary-grey);
    border-radius: 4px;
    color: var(--black);
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;

    &--focused {
      border-color: var(--primary);
      background-color: var(--light-grey);
    }

    &::placeholder {
      color: var(--mid-grey);
      font-style: italic;
    }
  }
}
