@import "../../theme/variables.scss";

.button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button-primary {
  background-color: $primary;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-secondary {
  background-color: $white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: $primary;
  padding: 10px 20px;
  border-radius: 5px;
}
