@import "../../theme/index.scss";
.form {
  margin: 60px 0px 80px 0px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px var(--light-grey);
  &__signup {
    @include flex-space-between;
    align-items: center;
    gap: 20px;
  }
  &__signup-image {
    width: 60%;
    img {
      width: 100%;
    }
  }
  &__signup-form {
    width: 40%;
  }
  &__title {
    font-size: 24px;
    color: var(--primary-dark);
    text-align: center;
  }
  &__block {
    @include flex-column-center;
    gap: 20px;
  }
  &__text {
    text-align: center;
    color: var(--mid-grey);
  }
  &__google {
    padding-top: 20px;
    @include flex-column-center;
    gap: 20px;
    text-align: center;
  }
}
