@import "../../../theme/index.scss";

.recipeDetails {
  padding: 20px;
  max-width: 1540px;
  margin: 60px auto;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-dark);
    text-align: center;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    color: var(--grey-dark);
    margin: 10px 0;
  }
  &__user,
  &__date,
  &__views,
  &__saveButton,
  &__shareButton {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  &__divider {
    border: 1px solid var(--grey-light);
    margin: 15px 0;
  }

  &__content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  &__imageWrapper {
    flex: 1;
  }

  &__image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__info {
    flex: 1;
  }

  &__timeServings {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: var(--grey-dark);
    margin-bottom: 10px;
  }

  &__tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
  }
  &__tag {
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-size: 0.875rem;
    font-weight: 600;
    border: 1px solid var(--primary);
  }
  &__ingredients,
  &__instructions {
    margin-top: 10px;
    font-size: 14px;
    color: var(--grey-dark);
  }
  &__ingredient,
  &__instruction {
    list-style: none;
    margin-bottom: 5px;
  }
}
