.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  &__large {
    width: 90%;
    max-width: 1200px;
    min-height: 500px;
    height: auto;
  }
  &__standard {
    min-width: 350px;
    height: auto;
  }
  &__content {
    position: relative;
    width: 100%;
    max-height: 850px;
    overflow-y: scroll;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px var(--primary-grey);
  }
  &__title {
    font-size: 24px;
    color: var(--primary-dark);
    text-align: center;
  }
  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--light-grey);
    color: var(--primary-dark);
    transition-duration: 1s;
    text-transform: capitalize;
    &:hover {
      background: var(--primary-light);
      color: var(--white);
    }
  }
}
