@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-align-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-align-end {
  display: flex;
  justify-content: flex-end;
}
