.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0px 0px;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 28px;
    line-height: 28px;

    img {
      width: auto;
      height: 28px;
    }
    .poppins-bold {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: var(--primary);
      font-size: 24px;
      transition: color 0.3s ease;

      &:hover {
        color: var(--black);
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    a {
      margin: 0 15px;
      text-decoration: none;
      color: var(--primary-grey);
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary);
      }

      &.active {
        color: var(--primary);
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 20px;
  }
}

.link {
  text-decoration: none;
}
