.trending-carousel {
  border-radius: 0px;
  max-width: 100%;
  margin: auto;
  height: 100%;
}

.trending-carousel__title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.recipe-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}

.recipe-card__image {
  width: 230px;
  height: auto;
  border-radius: 10px;
}

.recipe-card__title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.recipe-card__description {
  font-size: 14px;
  color: #555;
}

.recipe-card__image {
  transition: transform 0.3s ease;
}

.swiper-slide-active .recipe-card__image {
  transform: scale(1.5);
}
