@import "../../../theme/index.scss";

.add-recipe {
  @include flex-space-between;
  gap: 20px;
  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__image-container {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__text-container {
    @include flex-column-center;
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__description {
    max-width: 500px;
    color: var(--dark-gray);
    margin-bottom: 15px;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  &__icon {
    width: 50px;
    margin: 0 10px;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.1);
    }
  }

  &__testimonial {
    font-style: italic;
    color: var(--dark-gray);
    margin-top: 20px;
  }

  &__ingredients-section,
  &__instructions-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__ingredients-title,
  &__instructions-title {
    font-size: 16px;
    font-weight: bold;
    color: #b55d51;
  }

  &__ingredient,
  &__instruction {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__instruction-label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--mid-grey);
    margin-right: 10px;
    text-align: left;
  }
  &__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__remove-button {
    background-color: var(--white);
    color: var(--primary-dark);
    border: 1px solid var(--primary-grey);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      background-color: var(--primary-light);
      color: var(--primary-dark);
      border-color: var(--primary);
    }

    &:focus {
      outline: none;
    }
  }
  &__add-button {
    width: fit-content;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 1px solid var(--primary);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
      border-color: var(--primary-dark);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(181, 93, 81, 0.5);
    }

    &:active {
      background-color: var(--primary-dark);
      color: var(--white);
      border-color: var(--primary-grey);
    }
  }
}

.recipes {
  &__title {
    @include flex-space-between;
    align-items: center;
  }
  &__content {
    display: flex;
    gap: 10px;
  }
  &__tags-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__tags-header {
    color: var(--primary-dark);
  }

  &__tags {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: fit-content;
      padding: 0.3rem 0.8rem;
      border-radius: 0.5rem;
      background-color: var(--primary-light);
      color: var(--primary-dark);
      font-size: 0.875rem;
      font-weight: 600;
      border: 1px solid var(--primary);
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
  &__list {
    @include flex-center;
  }
}
